$primary-color:#1B99D4;
$secondary-color:#F8FBFB;
$white-color:#fff;
$text-color:#424352;
*{
    font-family: "Inter", sans-serif;
    text-decoration: none;
    margin:0;
    list-style-type:none;    
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Убирает кнопки в браузерах на базе WebKit */
    margin: 0; /* Убирает стандартные отступы */
    }

    input[type="number"] {
    -moz-appearance: textfield; /* Убирает кнопки в Firefox */
    }
}
header{
    width: 100%;
    height:76px;
    display: flex;
    justify-content: center;
    position: sticky;
    .header__wrapper{
        display: flex;
        max-width:1300px;
        width:100%;
        justify-content: space-between;
        align-items: center;
        .logo{
            width: 180px;
            height:55px;
        }
        nav{
            display: flex;  
            align-items: center;
            gap:45px;
            font-size:16px;
            font-family: Inter;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.5px;
            a{
                color: $text-color;
            }
            button{
                padding:9px 20px;
                background-color:$primary-color;
                color: $white-color;
                border: none;
                border-radius:5px;
                margin-left:77px;
                font-size: 16px;
                cursor: pointer;
                &:hover{
                    background-color: #1B99dd;
                }
            }
        }
    }
}
main{
}
section{
    max-width:100%;
    position: relative;
}
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:$primary-color;
    z-index:0   ;
}
.man{
    width:600px;
    height:550px;
    position: absolute;
    pointer-events: none;
    top:100px;
    margin-right:90px;
    z-index:-99;
}
.hero__wrapper{
    z-index:10;
    width:100%;
    height: 650px;;
    max-width: 1300px;
    display: flex;
    justify-content:  space-between;
    align-items: center;
    
    .text-section{
        display: flex;
        flex-direction: column;
        flex: 1;
        max-width:600px;
        h1{
            font-size: 46px;
            color: $white-color;
            font-weight: 700;
            line-height: 47.5px;
            letter-spacing: 0%;
            margin:20px 0 7px 0;
        }
        span{
            padding:8px;
            max-width:180px;
            background-color: rgba($color: #fff, $alpha: .2);
            border-radius:5px;
            color:white;
        }
        p{
            font-size: 17px;
            color:$white-color;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0%;
            max-width:450px;
        }
        button{
            width:250px;
            height:50px;
            background-color: $white-color;
            color: $text-color;
            border: none;
            border-radius: 5px;
            font-size:16px;
            font-weight:bold;
            margin:20px 0 0 0;
            cursor: pointer;
            &:hover{
                background-color:#f1f4f5;
            }
        }

    }
    .form-section{
        max-width: 430px;
        form{
            background-color: $white-color;
            padding: 40px 30px;
            border-radius: 10px;
            h4{
                font-size: 36px;
                font-weight: bold;
                margin: 0;
            }
            p{
                font-size: 18px;
                font-weight: 400;
                line-height: 25px;
                letter-spacing: 0%;
                color: rgba($color: #252525, $alpha: 1.0);
                margin:15px 0 20px 0;
            }
            .inputs{
                display: flex;
                flex-direction:column;
                gap:20px;
                max-width:370px;
                width:100%;
                position: relative;
                input{
                    display: flex;
                    padding:13px;
                    pointer-events: auto;
                    border:2px #E6E9FC solid;
                    border-radius:5px;
                    z-index:10;
                }
            }
            button{
                display: flex;
                justify-content: center;
                align-items: center;
                gap:10px;
                margin:50px 0 0 0;
                background-color: $primary-color;
                padding: 0 20px;
                height:50px;
                font-size: 16px;
                border:none;
                border-radius:5px;
                color: $white-color;
                cursor: pointer;
                &:hover{
                    background-color: #1B99dd;
                }
                img{
                    font-size:16px;
                }
            }
        }
    }

}
#infographic{
    width:100%;
    padding:60px 0;
    background-color: #FEFEFE;
    display: flex;
    justify-content:center;
    align-items: center;
}
.inf-wrapper {
    max-width:1100px;
    width:100%;
    background-color:#fff;
    padding:34px 58px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius:10px;
    box-shadow: 1px 2px 10px #808080;
}
.inf-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    .card-text{
        display: flex;
        align-items:start;
        flex-direction: column;
        font-weight: 600;
        .inf-num{
            font-size:36px;
            padding:0 0 7px 0;
        }
        .red{
            color: #D60000;
        }
        .green{
            color: #27B94E;
        }
        .yellow{
            color:#FFA41B;
        }
    }
}
#about{
    padding:60px 0;
    width:100%;
    height:100%;
    display: flex;
    background-color:#F8FBFB;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-wrapper {
    max-width:1200px;
    width:100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction:row;
    padding:48px 0;
}
.about-text-wrapper{
    text-align: center;
    margin: 16px 0;
    color: $primary-color;
    h2{
        color:$text-color;
        font-size:36px;
    }
}
.about-card-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.about-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    padding: 36px 30px;
    background-color: #fff;
    border-radius:8px;

   .text-wrapper-about{
    max-width:300px;
    p{
        &:first-child{
            padding:25px 0;
            font-size:21px;
            font-weight:bold;
        }
        font-weight: 400;
    }
    }
    img{
        width:70px;
    }
}
#testimonials{
    padding:60px 0;
    width:100%;
    height:100%;
    display: flex;
    background-color:#FEFEFE;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    h2{
        font-size: 32px;
    }
    .testimonials-wrapper{
        max-width:1300px;
        width:100%;
        display: flex;
        padding:48px 0;
        .testimonials-card-wrapper{
            display: flex;
            flex-wrap:wrap;
            justify-content:space-between;
            gap:50px
        }
        .card-wrapper{
            display: flex;
            flex-direction: column;
            max-width: 320px;
            background-color: #fff;
            padding:20px;
            gap: 15px;
            border-radius:10px;
            .company-name{
                font-size: 20px;
                 font-weight: 600;
            }
            .company-text{
                color: #4D607D;
            }
            img{
                width:70px;
                height:70px;
            }
        }
    }
}
#benefits{
    padding:60px 0;
    width:100%;
    height:100%;
    display: flex;
    background-color:#fff;
    justify-content: center;
    align-items: center;
    .benefits-wrapper{
        display: flex;
        align-items: center;
        max-width:1300px;
    }
    .text-wrapper{
        width:580px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        h2{
            font-size: 48px;
        }
    }
    .benefits-container{
        display: flex;
        margin:25px 0 0 0;
        gap:20px;
        .benefit-block{
            width:180px;
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding:10px 0;
            border-radius:5px;
            color: #fff;
            span{
                font-size:28px;
                font-weight:bold;
            }
            &:first-child{
                background-color:#20AD96;
            }
            &:last-child{
                background-color: #9747FF;
            }
        }
    }
}
#features{
    padding:60px 0;
    width:100%;
    height:100%;
    display: flex;
    background-color:#fff;
    justify-content: center;
    align-items: center;
}
.featured-wrapper{
    display: flex;
    width:100%;
    max-width:1300px;
    justify-content: space-between;
    gap: 50px;
}
.featured-block-1 {
    display: flex;
    flex-direction: column;
    gap:20px;
    border: #D9D9D9 2px solid;
    padding:26px;
    border-radius:6px;
    img{
        width:230px;
    }
    h3{
        font-size: 18px;
        color:#1B99D4;
    }
}
.featured-block-2 {
    width:100%;
    padding:25px 40px;
    border-radius:6px;
    border: 2px solid #D9D9D9;
    position: relative;
    h2{
        font-size: 36px;
    }
    p{
        padding:12px 0 75px 0;
    }
    .featured-price{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .btn{
            padding:15px 20px;
            font-size:16px;
            background-color:#1B99D4;
            border: none;
            border-radius:6px;
            color:#fff;
            cursor: pointer;
        }
    }
}
#FAQ{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:100%;
    padding:100px 0;
    p{
        color: $primary-color;
    }
    h2{
        margin: 5px 0;
        font-size:40px;
    }
    .faq-wrapper{
        width:100%;
        max-width:1200px;
        justify-content: center;
        align-items: center;
        padding:10px 0;
        .faq-item{
            width:100%;
            padding:18px 16px;
            display: flex;
            flex-direction: column;
            gap:20px;
            font-size:20px;
            border:2px solid #e4e4e7;
            border-radius:5px;
            margin:36px 0;
            cursor: pointer;
            .faq-question{
                display: flex;
                align-items: center;
                gap:10px;
            }
            .faq-icon{
                cursor: pointer;
                font-size:30px;
                color: #1B99D4;
            }
        }
    }
}
footer{
    width:100%;
    background-color:$primary-color;
    padding:100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-wrapper{
        display: flex;
        width:100%;
        max-width:1300px;
        align-items: flex-start;
        justify-content: space-between;
        .footer-column{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: flex-start;
            color: white;
            gap:27px;
            cursor: pointer;
            h4{
                font-size:24px;
            }
        }
        .footer-main{
            img{
                &:first-child{
                    width:135px;
                }
            }
            p{
                margin:32px 0 40px 0    ;
            }
            display: flex;
            flex-direction: column;
            max-width:290px;
            color: white;
            .social{
                display: flex;
                gap: 14px;
                .block-icon{
                    display: flex;
                    align-items:center;
                    cursor: pointer;
                    img{
                        width:45px;
                    }
                    background-color: rgba($color: #fff, $alpha: .2);
                }
            }
        }
    }
}
