  <header>
    <div class="header__wrapper">
      <img src="assets/logo.svg" alt="logo" class="logo">
      <nav>
        <a href="#FAQ">FAQ</a>
        <a href="#about">О нас</a>
        <a href="#features">Прайс лист</a>
        <button>
          Войти
        </button>
      </nav>
    </div>
  </header>
<main>
  <section id="hero">
    <img class="man" src="assets/man.png" alt="man">
    <div class="hero__wrapper">
      <div class="text-section">
        <span>
          С Использиванием ИИ
        </span>
        <h1>Современная платформа
          для курсов
        </h1>
        <p>
          Наша платформа помогает организациям размещать и продавать свои курсы онлайн.
           Привлекайте студентов, расширяйте аудиторию и увеличивайте прибыль, предлагая высококачественное образование в удобном формате.
        </p>
        <button class="text-start">
          Начать сейчас
        </button>
      </div>
      <div class="form-section">
        <form action="">
          <h4>Мы готовы помочь</h4>
          <p>
            Пожалуйста свяжитесь с нами, если у вас 
            есть вопросы
          </p>
          <div class="inputs">
            <input type="text" placeholder="Имя">
            <input type="email" placeholder="Почта">
            <input type="number" placeholder="Номер">
          </div>
          <button>Связаться с нами <span><img src="assets/arrow.svg" alt="arrow"></span></button>
        </form>
      </div>
    </div>
  </section>
  <section id="infographic">
    <div class="inf-wrapper">
      <div class="inf-card">
        <img src="assets/graph.svg" alt="graph">
        <div class="card-text">
          <p class="inf-num green">126%</p>
          <p>Повышение прибыли</p>
        </div>
      </div>
      <div class="inf-card">
        <img src="assets/work.svg" alt="work">
        <div class="card-text">
          <p class="inf-num yellow" >ИИ</p>
          <p>Повышение прибыли</p>
        </div>
      </div>
      <div class="inf-card">
        <img src="assets/live.svg" alt="live">
        <div class="card-text">
          <p class="inf-num red">Live</p>
          <p>Онлайн уроки</p>
        </div>
      </div>
    </div>
  </section>
  <section id="about">
    <div class="about-text-wrapper">
      <p>
        О нас
      </p>
      <h2>
        Почему стоит выбирать нас?
      </h2>
    </div>
    <div class="about-wrapper">
      <div class="about-card-wrapper">
        <div class="about-card">
          <img src="assets/icon-clock.svg" alt="time">
          <div class="text-wrapper-about">
            <p>Широкая аудитория</p>
            <p>
              Наша платформа привлекает тысячи студентов со всего мира,
              что дает вашей организации
              доступ к широкому кругу потенциальных клиентов и студентов.
            </p>
          </div>
        </div>
      </div>
      <div class="about-card-wrapper">
        <div class="about-card">
          <img src="assets/icon-clock.svg" alt="time">
          <div class="text-wrapper-about">
            <p>Удобство и простота загрузки курсов</p>
            <p>
              Легкий и интуитивно понятный процесс загрузки курсов — быстро разместите материалы и начните продавать.
            </p>
          </div>
        </div>
      </div>
      <div class="about-card-wrapper">
        <div class="about-card">
          <img src="assets/icon-clock.svg" alt="time">
          <div class="text-wrapper-about">
            <p>Поддержка и безопасность</p>
            <p>
              Круглосуточная поддержка и высокоуровневая безопасность данных и материалов.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="testimonials">
    <h2>
      Отзывы компании
    </h2>
    <div class="testimonials-wrapper">
     <div class="testimonials-card-wrapper">
      <div class="card-wrapper">
        <img src="assets/T.png">
        <div class="company-name">
          Компания "TechMaster"
        </div>
        <div class="company-text">
          Мы помогли этой организации масштабировать их курсы по программированию. С помощью нашей платформы они увеличили продажи на 40% в первые 3 месяца.
        </div>
       </div>
       <div class="card-wrapper">
        <img src="assets/L.png">
        <div class="company-name">
          Университет "LearnAcademy"
        </div>
        <div class="company-text">
          После загрузки своих образовательных программ на платформу, университет привлек более 5000 студентов из разных уголков мира, значительно расширив свою аудиторию.
        </div>
       </div>
       <div class="card-wrapper">
        <img src="assets/B.png">
        <div class="company-name">
          Компания "BizGrow"
        </div>
        <div class="company-text">
          Благодаря нашим инструментам маркетинга, эта организация смогла продвигать свои курсы по бизнес-стратегиям и удвоила количество продаж.
        </div>
       </div>
       <div class="card-wrapper">
        <img src="assets/D.png">
        <div class="company-name">
          Академия "DesignPro"
        </div>
        <div class="company-text">
          Специализируясь на курсах по графическому дизайну, академия расширила свою аудиторию на международном уровне и увеличила количество подписок на курсы на 50% в течение 6 месяцев.
        </div>
       </div>
       <div class="card-wrapper">
        <img src="assets/F.png">
        <div class="company-name">
          Компания "FinanceMaster"
        </div>
        <div class="company-text">
          Размещая курсы по финансовой грамотности, компания смогла привлечь более 3000 студентов, повысив уровень вовлеченности через интерактивные материалы и поддержку.
        </div>
       </div>
       <div class="card-wrapper">
        <img src="assets/H.png">
        <div class="company-name">
          Школа "HealthEdu"
        </div>
        <div class="company-text">
          Платформа помогла школе, которая предлагает курсы по здравоохранению, увеличить свою базу студентов на 70% за счет расширенных функций продвижения и аналитики.
        </div>
       </div>
     </div>
    </div>
  </section>
  <section id="benefits">
    <div class="benefits-wrapper">
      <div class="benefits-text">
        <div class="text-wrapper">
          <h2>
            Возможности курса
          </h2>
          <p>Размещайте ваши курсы на нашей платформе,
             привлекайте студентов и увеличивайте продажи.
              Простая и удобная система для организаций</p>
        </div>
        <div class="benefits-container">
          <div class="benefit-block">
            <span>1000+</span>
            <p>Курсов</p>
          </div>
          <div class="benefit-block">
            <span>500+</span>
            <p>организации</p>
          </div>
        </div>
      </div>
      <img src="assets/benefit.png" alt="benefit">
    </div>
  </section>
  <section id="features">
    <div class="featured-wrapper">
      <div class="featured-block-1">
        <h3>Превосходство курса</h3>
        <img src="assets/p.svg" alt="">
        <img src="assets/p-1.svg" alt="">
        <img src="assets/p-2.svg" alt="">
        <img src="assets/p-3.svg" alt="">
      </div>
      <div class="featured-block-2">
        <h2>Стоимость размещения</h2>
        <p>Начальный тариф 10% процентов от стоимости курса и 30% с продвежением</p>
        <div class="featured-price">
          <span>Если курс бесплатный то не взымается плата</span>
          <button class="btn">Начать сейчас</button>
        </div>
      </div>
    </div>
  </section>
  <section id="FAQ">
    <p>Задай свой вопрос</p>
    <h2>Часто Задаваемые вопросы</h2>
    <div class="faq-wrapper">
      <div class="faq-item" *ngFor="let faq of faqs; let i = index">
        <div class="faq-question" (click)="toggleFaq(i)">
          <span class="faq-icon">{{ faq.isOpen ? '-' : '+' }}</span>
          {{ faq.question }}
        </div>
        <div class="faq-answer" *ngIf="faq.isOpen">
          {{ faq.answer }}
        </div>
      </div>
    </div>
  </section>
</main>
<footer>
  <div class="footer-wrapper">
    <div class="footer-main">
      <img src="assets/footer-logo.png" alt="logo">
      <p>"Платформа, которая помогает организациям создавать, публиковать и продвигать образовательные курсы.
         Мы предоставляем простые инструменты для успешного обучения и продаж."</p>
        <div class="social">
          <div class="block-icon">
            <img src="assets/facebook.png" alt="" srcset="">
          </div>
          <div class="block-icon">
            <img src="assets/linkedin.png" alt="" srcset="">
          </div>
          <div class="block-icon">
            <img src="assets/pinterest.png" alt="" srcset="">
          </div>
          <div class="block-icon">
            <img src="assets/twiter.png" alt="" srcset="">
          </div>
        </div>
    </div>
    <div class="footer-column">
      <h4>Исследуй</h4>
        <li>
          О нас
        </li>
        <li>
          Блог
        </li>
        <li>
          Партнерская программа
        </li>
        <li>
          Контакты
        </li>
        <li>
          Работа с нами
        </li>
    </div>
    <div class="footer-column">
      <h4>Полезные ссылки</h4>
        <li>
          Политика
        </li>
        <li>
          Условия использования
        </li>
        <li>
          Политика возврата
        </li>
    </div>
    <div class="footer-column">
      <h4>Полезные ссылки</h4>
        <li>
          34 микрарайон,2 дом
        </li>
        <li>
          +7 (778) 915-34-14
        </li>
        <li>
          alibek.yelgundiyev&#64;yu.edu.kz
        </li>
    </div>
  </div>
</footer>